* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0px;
}

#right> :first-child {
    margin-right: 16px;
}

.button {
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #000
}

#whiteButton {
    background-color: #FFF;
}

#blackButton {
    background-color: #000;
    color: #FFF;
}

#hero {}